@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

/* Desktop first*/

html,
body {
    overflow-x: hidden;
}

body {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

body>* {
    width: 100vw;
}

/* Global */

h2 {
    font-size: 2.8em;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}


button {
    background: linear-gradient(90deg, hsl(136, 65%, 51%) 27%, hsl(192, 70%, 51%) 96%);
    border-radius: 100px 100px 100px 100px;
    border: none;
    color: hsl(0, 0%, 100%);
    padding: 0.9em 2em;
}

button:hover {
    cursor: pointer;
    opacity: 0.75;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}

/* header */

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: hsl(233, 8%, 62%);
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

.mobile-menu {
    display: none;
    position: absolute;
    padding: 0;
    top: 5em;
    left: 1.1em;
    right: 1.1em;
    margin: 0 auto;
    height: 39.5vh;
    width: 85vw;
    border-radius: 10px;
}

.mobile-menu li {
    margin-bottom: 10px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.2em 0em;
}

.header-links {
    display: flex;
    flex-direction: row;
    color: hsl(233, 8%, 62%);
    justify-content: space-evenly;
    gap: 2em;
}

.header-links a:hover {
    border-style: solid;
    border-image: linear-gradient(90deg, hsl(136, 65%, 51%) 27%, hsl(192, 70%, 51%) 96%) 0 0 80% 0/0 0 9px 0;
    padding-bottom: 39px;
}

.logo {
    width: 10em;
}

/* main*/

main {
    background-color: hsl(0, 0%, 98%);
    height: 80vh;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.background {
    background-image: url(../images/image-mockups.png), url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 53vw, 88vw;
    background-position-x: 54vw, 42vw;
    background-position-y: -15vh, -31vh;
}

.background h1 {
    font-size: 3.2em;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}

.background p {
    color: hsl(233, 8%, 62%);
    margin-bottom: 5%;
    line-height: 1.5em;
}

.background button {
    margin-top: 1.25em;
    padding: 0.938em 2.5em;
}

.intro {
    width: 24vw;
    margin-left: 9vw;
    margin-right: 9vw;
}


/* details */
.details {
    padding: 4em 4em 5em 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(220, 16%, 96%);
    row-gap: 2.9em;
}

.details-header {
    margin-top: 3vh;
    margin-left: 7vw;
}


.details p {
    color: hsl(233, 8%, 62%);
}

.features {
    display: flex;
    margin-left: 7vw;
    margin-right: 7vw;
    gap: 5vw;
}

.features h3 {
    font-size: 1.5rem;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}

.feature {
    width: 17em;
}


/* articles */
.block-articles {
    background-color: rgb(250, 250, 250);
    width: 100vw;
    padding: 4em 4em 0 2.5em;
    margin-bottom: 1em;
}

.block-articles h2 {
    margin-left: 7.5vw;
}

.articles {
    height: 69vh;
    margin-left: 5vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.article {
    background-color: white;
}

figure img {
    max-width: 100%;
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.article h3 {
    font-weight: 300;
    color: hsl(233, 26%, 24%);
    font-size: 1.2rem;
}

.article-content {
    padding: 1em 0.17em;
}

.article h3:hover {
    cursor: pointer;
    color: hsl(136, 65%, 51%);
}

.article-content figcaption {
    font-size: 0.8rem;
    color: hsl(233, 8%, 62%);
}

.article-content p {
    color: hsl(233, 8%, 62%);
    font-size: 1.1rem;
}

/* Footer*/

footer {
    padding: 1.5em 0;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-around;
}

.footer-logo-social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-action {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-action p {
    color: hsl(233, 8%, 62%);
}

footer button {
    margin-top: 1.25em;
    padding: 0.938em 2.5em;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 2.5em;
}

footer nav a {
    color: white;
}

footer nav li {
    width: 50%;
    padding-bottom: 2em;
    font-size: 0.9em;
}

footer nav a:hover {
    color: hsl(136, 65%, 51%);
}

.social-media img {
    padding-right: 0.625em;
}

.social-media img:hover {
    filter: invert(62%) sepia(7%) saturate(3599%) hue-rotate(83deg) brightness(105%) contrast(117%);
}

/* Small Screen Laptop */
@media (max-width: 1024px) {
    .background {
        background-image: url(../images/image-mockups.png), url(../images/bg-intro-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-size: 58vw, 116vw;
        background-position-x: 54vw, 39vw;
        background-position-y: 15vh, -2vh;
    }

    .intro {
        width: 33vw;
        margin-left: 12vw;
        margin-right: 0vw;
    }
}


/* Mobile Landscape or Tablet version*/
@media (max-width: 927px) {
    * {
        text-align: center;
    }

    /* main */
    .background {
        background-image: url(../images/image-mockups.png), url(../images/bg-intro-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-size: 62vw, 116vw;
        background-position-x: 52vw, 37vw;
        background-position-y: 18vh, 8vh;
    }

    button {
        padding: 1em 1em;
    }

    header nav {
        width: 50vw;
        ;
    }

    .header-links {
        gap: 1em;
    }

    /* details*/
    .details {
        height: auto;
        padding: 0;
        padding-bottom: 3.75em;
    }

    .features {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .features {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    /* Articles */
    .block-articles {
        padding: 0;
        height: 105em;
    }

    .articles {
        flex-direction: column;
        width: 100%;
        margin: 0 0;

    }

    .article {
        height: 70%;
        margin-left: 10%;
        margin-right: 10%;
    }

    figure img {
        height: 40%;
        width: 100%;
    }

    /* Footer*/
    footer {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-top: 2.5em;
        padding-bottom: 2.5em;
    }

    .footer-logo-social {
        gap: 1.875em;
    }

    footer nav ul {
        flex-direction: column;
        margin-right: 2.5em;
        font-size: 1.2em;
    }

    footer nav li {
        width: 7em;
    }
}

/* Mobile version*/

@media (max-width: 429px) {

    /*
        Header
    */
    #hamburger-icon {
        display: block;
    }


    header .header-links,
    header button {
        display: none;
    }

    header {
        justify-content: space-around;
    }

    header nav {
        width: auto;
    }

    /* Main*/

    .background {
        background-image: url('../images/image-mockups.png'), url('../images/bg-intro-mobile.svg');
        background-repeat: no-repeat, no-repeat;
        background-size: contain, contain;
        background-position-x: 0, 0;
        background-position-y: -8.125em, -3.125em;
    }

    .background button {
        padding: 1em 1.4em;
        ;
    }

    main {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 3.125em;
    }

    .intro {
        width: 80%;
        margin-top: 21.875em;
        margin-left: 10%;
        margin-right: 10%;
        font-weight: 400;
    }

    .intro h1 {
        font-size: 1.9em;
    }

    /* details*/
    .details {
        height: auto;
        padding: 0;
        padding-bottom: 3.75em;
    }

    .features {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .features {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Articles */
    .block-articles {
        padding: 0;
        height: 110em;
    }


    .articles {
        flex-direction: column;
        width: 100%;
        margin: 0 0em;
    }

    figure img {
        height: 40%;
    }

    /* Footer*/
    footer {
        padding-top: 2.5em;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 2.5em;
    }

    .footer-logo-social {
        gap: 1.875em;
    }

    footer nav ul {
        flex-direction: column;
        margin-right: 2.5em;
        font-size: 1.2em;
    }

    footer nav li {
        width: 7em;
    }

}